![](https://i.imgur.com/0AUxkXt.png)

# Assignment 3 - From data to insights

Before you explore the data, write down a short list of what you expect to see in the data: the distribution of key variables, the relationships between important pairs of them, and so on. Such a list is essentially a prediction based on your current understanding of the business.

Now analyze the data. Make plots, do summaries, whatever is needed to see if it matches your expectations.

Is there anything that doesn’t match? Anything that makes you go “That’s odd” or “That doesn’t make any sense.”?

Zoom in and try to understand what in your business is making that weird thing show up in the data like that. This is the critical step.

You may have just found an insight into the business and increased your understanding


## The data analysis checklist

This checklist can be used as a guide during the process of a data analysis, or as a way to evaluate the quality of a reported data analysis.

### Answering the first questions

1. Did you define the metric for success before beginning?
2. Did you understand the context for the question and business application?
3. Did you consider whether the question could be answered with the available data?

### Cleaning the data

1. Did you identify the missing data?
2. Is each variable one column?
3. Do different data types appear in each table?
4. Did you try to identify any errors or miscoding of variables?
5. Did you check for outliers?

### Exploratory analysis

1. Did you make univariate plots (histogram, distplot, boxplot)?
2. Did you consider correlations between variables (scatterplot, jointplot, kde plot, correlation matrix)?
3. Did you check the units of all data points to make sure they are in the right range?

### Presentations

1. Did you lead with a brief, understandable to everyone of your problem?
2. Did you explain the data, describe the question of interest?
3. Did you make sure all legends and axes were legible from the back of the room?

## Dataset - Online Retailes Purchase

Typically e-commerce datasets are proprietary and consequently hard to find among publicly available data. However, [The UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php) has made this dataset containing actual transactions from 2010 and 2011. The dataset is maintained on their site, where it can be found by the title "Online Retail".


### Step 1 - Checking the data

**Import tools set**

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Import data**

In [0]:
# link = "https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/Online_Retail.csv"
# Note: set param encoding = 'latin1'
# Your code here
latin1= pd.read_csv("https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/Online_Retail.csv",encoding = 'unicode_escape')

In [6]:
# Print out First 5 rows from dataframe
latin1.head(5)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [7]:
# Print out brief info
latin1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Step 2 - Cleaning the data

Few of useful data cleaning functions:

* `s.astype('category')` # This will convert the datatype of the series to float *Please note that "s" here is a Pandas Series

* `s.replace(1,'one')` # This will replace all values equal to 1 with 'one'

* `s.replace([1,3],['one','three'])` # This will replace all 1 with 'one' and 3 with 'three'

* `data.rename(columns=lambda x: x + 1)` # Mass renaming of columns

* `data.rename(columns={'oldname': 'new name'})` # Selective renaming

* `data.set_index('column_one')` #  This will change the index

* `data.rename(index=lambda x: x + 1)` # Mass renaming of index

* `data.dropna()` # Remove missing values

* `data.fillna(x)` #  This will replaces all null values with x

* `s.fillna(s.mean())` # This will replace all null values with the mean (mean can be replaced with almost any function from the below section) :

* `data.corr()` # This will return the correlation between columns in a DataFrame

* `data.count()` # This will return the number of non-null values in each DataFrame column

* `data.max()` # This will return the highest value in each column

* `data.min()` # This will return the lowest value in each column

* `data.median()` # This will return the median of each column

* `data.std()` # This will returns the standard deviation of each column

**Check for NaN values**

In [8]:
latin1.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Examine few examples of NaN values**

In [0]:
# List all NaN values
latin=latin1[(latin1["Description"].isna()) & (latin1["CustomerID"].isna())]
latin

**Exclude negative Quatity entries**

In [59]:
latin1=latin1[latin1["Quantity"]>0]
#latin1.describe()

            Quantity      UnitPrice     CustomerID
count  531285.000000  531285.000000  397924.000000
mean       10.655262       3.857296   15294.315171
std       156.830323      41.810047    1713.169877
min         1.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

**Exclude negative Price entries**

In [62]:
latin1=latin1[latin1["UnitPrice"]>0]
#latin1.describe()

            Quantity      UnitPrice     CustomerID
count  530104.000000  530104.000000  397884.000000
mean       10.542037       3.907625   15294.423453
std       155.524124      35.915681    1713.141560
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

### Step 3 - EDA

**The customer with the highest number of orders comes from the United Kingdom (UK)**

In [257]:
UK_Customer=latin1[latin1["Country"]=='United Kingdom']
UK_Customer['Quantity'].sort_values(ascending=False)
UK_Customer.head(1)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom

[1 rows x 8 columns]

In [0]:
purchase=latin1['Quantity']*latin1['UnitPrice']

**The customer with the highest money spent on purchases comes from Netherlands**

In [268]:
la=latin1[latin1['Country']=='Netherlands']
Purchase=la['Quantity']*la['UnitPrice']
la

       InvoiceNo StockCode  ... CustomerID      Country
385       536403     22867  ...    12791.0  Netherlands
386       536403      POST  ...    12791.0  Netherlands
37952     539491     21981  ...    14646.0  Netherlands
37953     539491     21986  ...    14646.0  Netherlands
37954     539491     22720  ...    14646.0  Netherlands
37955     539491     21931  ...    14646.0  Netherlands
37956     539491     22613  ...    14646.0  Netherlands
37957     539491     20751  ...    14646.0  Netherlands
37958     539491     21246  ...    14646.0  Netherlands
37959     539491     22960  ...    14646.0  Netherlands
37960     539491     22355  ...    14646.0  Netherlands
37961     539491     21123  ...    14646.0  Netherlands
37962     539491    47599A  ...    14646.0  Netherlands
37963     539491     22331  ...    14646.0  Netherlands
37964     539491     22333  ...    14646.0  Netherlands
37965     539491     22315  ...    14646.0  Netherlands
37966     539491     22445  ...    14646.0  Netherlands
37967     539491      POST  ...    14646.0  Netherlands
40190     539731     21212  ...    14646.0  Netherlands
40191     539731     22858  ...    14646.0  Netherlands
40192     539731    84459A  ...    14646.0  Netherlands
40193     539731    84459B  ...    14646.0  Netherlands
40194     539731     22859  ...    14646.0  Netherlands
40195     539731     22856  ...    14646.0  Netherlands
40196     539731     21935  ...    14646.0  Netherlands
40197     539731     22383  ...    14646.0  Netherlands
40198     539731     21213  ...    14646.0  Netherlands
40199     539731     21558  ...    14646.0  Netherlands
40200     539731     21930  ...    14646.0  Netherlands
40201     539731     22417  ...    14646.0  Netherlands
...          ...       ...  ...        ...          ...
534933    581175     23597  ...    14646.0  Netherlands
534934    581175     23483  ...    14646.0  Netherlands
534935    581175     23447  ...    14646.0  Netherlands
534936    581175    47593B  ...    14646.0  Netherlands
534937    581175     23081  ...    14646.0  Netherlands
534938    581175     23080  ...    14646.0  Netherlands
534939    581175     21671  ...    14646.0  Netherlands
534940    581175     21731  ...    14646.0  Netherlands
534941    581175     22467  ...    14646.0  Netherlands
534942    581175     22487  ...    14646.0  Netherlands
534943    581175     22489  ...    14646.0  Netherlands
534944    581175     22563  ...    14646.0  Netherlands
534945    581175     22846  ...    14646.0  Netherlands
534946    581175     23154  ...    14646.0  Netherlands
534947    581175     23171  ...    14646.0  Netherlands
534948    581175     23172  ...    14646.0  Netherlands
534949    581175     23209  ...    14646.0  Netherlands
534950    581175     23290  ...    14646.0  Netherlands
534951    581175     22867  ...    14646.0  Netherlands
534952    581175     23084  ...    14646.0  Netherlands
534953    581175     22343  ...    14646.0  Netherlands
534954    581176     22561  ...    14646.0  Netherlands
534955    581176     22795  ...    14646.0  Netherlands
534956    581176     23112  ...    14646.0  Netherlands
534957    581176     23118  ...    14646.0  Netherlands
534958    581176     22908  ...    14646.0  Netherlands
534959    581176     22907  ...    14646.0  Netherlands
534960    581176     22029  ...    14646.0  Netherlands
534961    581176     22712  ...    14646.0  Netherlands
537783    581338     23344  ...    14646.0  Netherlands

[2371 rows x 8 columns]

**On which year had the highest sales?**

In [0]:
P=latin1['Quantity']*latin1['UnitPrice']
P.sort_values(ascending=False)
latin1['InvoiceDate']

**How many orders (per hour)?**

**Make a plot about number of orders per hour**

**How many orders (per month)?**

**Make a plot about number of orders per month**

**Top 10 items most sales**

**Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK**

In [0]:
# Your code here

# What can you tell about this?

### You are awesome!!